@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 4%;
    --foreground: 240 5% 90%;
    --card: 240 6% 10%;
    --card-foreground: 240 5% 90%;
    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 90%;
    --primary: 142 71% 45%;
    --primary-foreground: 144 80% 10%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 240 5% 90%;
    --muted: 240 4% 16%;
    --muted-foreground: 240 5% 55%;
    --accent: 142 64% 38%;
    --accent-foreground: 144 80% 10%;
    --destructive: 0 63% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 142 71% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
